*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
FtcRobotController/build/generated/assets/
FtcRobotController/build/generated/res/
FtcRobotController/build/generated/source/aidl/
FtcRobotController/build/generated/source/rs/
FtcRobotController/build/intermediates/bundles/debug/aidl/
FtcRobotController/build/intermediates/bundles/default/aidl/
FtcRobotController/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
FtcRobotController/build/intermediates/incremental/packageDebugAndroidTest/
FtcRobotController/build/intermediates/incremental/processDebugAndroidTestResources/
FtcRobotController/build/intermediates/incremental/processDebugResources/
FtcRobotController/build/intermediates/lint/
FtcRobotController/build/intermediates/manifest/tmp/
FtcRobotController/build/intermediates/rs/
FtcRobotController/build/intermediates/shaders/
TeamCode/build/generated/res/
TeamCode/build/generated/source/aidl/
TeamCode/build/generated/source/r/androidTest/
TeamCode/build/generated/source/rs/
TeamCode/build/intermediates/blame/res/androidTest/
TeamCode/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
TeamCode/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
TeamCode/build/intermediates/incremental/mergeDebugResources/aapt-temp/
TeamCode/build/intermediates/incremental/packageDebug/
TeamCode/build/intermediates/incremental/packageDebugAndroidTest/
TeamCode/build/intermediates/incremental/packageRelease/
TeamCode/build/intermediates/incremental/processDebugAndroidTestResources/
TeamCode/build/intermediates/incremental/processDebugResources/
TeamCode/build/intermediates/manifests/instant-run/
TeamCode/build/intermediates/res/merged/androidTest/
TeamCode/build/intermediates/rs/
TeamCode/build/intermediates/symbols/androidTest/
